<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            font-size: x-large;
        }
        ol{
            border: 1px solid black;
        }
        li{
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Your Todo's</h1>
<a href="home">Add another todo</a>
<ol><div th:remove="tag" th:utext="${toDo}"></div>
</ol>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>